
<div id="user-show">
  
  <div class="header">
    
    <div class="profilepic">
      <%= link_to (image_tag @user.avatar_url().to_s, :size => '100x100'), user_path(@user), :title => @user.username %>
    </div>

    <div class="user-data">
      <div class="name">
        <%= @user.username %>
      </div>
    </div>
    
    <div class="links">
      
    </div>
    
  </div>

  <div class="user-menu">
    <ul>
      <li>Punaizes</li>
      <li>Tableaux</li>
      <li>Abonnés</li>
      <li>Abonnements</li>
    </ul>
  </div>
</div>



<p id="notice"><%= notice %></p>


<p>
  <b>Country:</b>
  <%= @user.country_id %>
</p>

<p>
  <b>State:</b>
  <%= @user.state_id %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
