
<div id="puns-container">
    
    <% @puns.each do |pun| %>
    <li>
        <div id="pun">
            <%= image_tag pun.image_url(:gridthumb).to_s %>
            <div class="description">
                <%= pun.description %>
            </div>

        </div>   
        <div class="user-avatar">
            <%= image_tag pun.user.avatar_url(:headerthumb).to_s %>
        </div>

        <div class="pinned-on">
            <div class="sur">
                Epinglé sur:
            </div>
            <div class="board">
                Hammi Whmoumi
            </div>
        </div>
        <div class="clear"></div>

        <!-- originellement sur -->
        <div class="user-avatar">
            <%= image_tag pun.user.avatar_url(:headerthumb).to_s %>
        </div>

        <div class="pinned-on">
            <div class="sur">
                Originellement sur:
            </div>
            <div class="board">
                Hammi Whmoumi
            </div>
        </div>

    </li>

    <% end %>



</div>


<h1>Listing puns</h1>

<table>

<% @puns.each do |pun| %>
  <tr>
    <td><%= pun.title %></td>
    <td><%= link_to 'Show', pun %></td>
    <td><%= link_to 'Edit', edit_pun_path(pun) %></td>
    <td><%= link_to 'Destroy', pun, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pun', new_pun_path %>


  <script type="text/javascript">
    $(document).ready(new function() {
      // Prepare layout options.
      var options = {
        autoResize: true, // This will auto-update the layout when the browser window is resized.
        container: $('#puns-container'), // Optional, used for some extra CSS styling
        offset: 15, // Optional, the distance between grid items
        itemWidth: 240 // Optional, the width of a grid item
      };

      // Get a reference to your grid items.
      var handler = $('#puns-container li');

      // Call the layout function.
      handler.wookmark(options);

      $('#puns-container li').imagesLoaded(function() {
          // do stuff after images are loaded
          handler.wookmark(options);
        });



      $('#puns-container').trigger('refreshWookmark');

    });
  </script>