<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @pun.tag_list %>
</p>

<p>
  <b>Slug:</b>
  <%= @pun.slug %>
</p>

<p>
  <b>Slug:</b>
  <%= @pun.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @pun.image_url().to_s %>
</p>

<p>
  <b>Link:</b>
  <%= @pun.link %>
</p>

<p>
  <b>Price:</b>
  <%= @pun.price %>
</p>

<p>
  <b>Currency:</b>
  <%= @pun.currency_id %>
</p>

<p>
  <b>Description:</b>
  <%= @pun.description %>
</p>

<p>
  <b>User:</b>
  <%= @pun.user_id %>
</p>

<p>
  <b>Category:</b>
  <%= @pun.category_id %>
</p>

<p>
  <b>Original user:</b>
  <%= @pun.original_user_id %>
</p>

<p>
  <b>Board:</b>
  <%= @pun.board_id %>
</p>

<p>
  <b>Original board:</b>
  <%= @pun.original_board_id %>
</p>

<p>
  <b>Original punaise:</b>
  <%= @pun.original_punaise_id %>
</p>

<p>
  <b>Deleted:</b>
  <%= @pun.deleted %>
</p>


<%= link_to 'Edit', edit_pun_path(@pun) %> |
<%= link_to 'Back', puns_path %>
