
<div id="show-pun" class="clearfix">



    <div class="left">

    
      <div class="image">
        <div class="link"><%= image_tag "icons/pun/link.png" %> <%= link_to (truncate(@pun.link, :length => 100)), "http://" + @pun.link %></div>

        <!-- truncate(newspaper.description, :length => 245) -->

        <%= link_to (image_tag @pun.image_url().to_s), "http://" + @pun.link %>
      </div>

      <% unless @pun.original_board_id.nil? %>
      <div class="originallyon">

        Originellement par 
        
        <% User.where("id = ?", @pun.original_user_id).last(1).each do |user| %>
          <%= link_to user.username, user_path(user) %>
        <% end %>

        sur

        <% Board.where("id = ?", @pun.original_board_id).last(1).each do |board| %>
          <%= link_to board.name, board_path(board) %>
        <% end %>

      </div>
      <% end %>

      <div class="comments">
        <div id="commentslist">
          <%= render "puns/showpartials/comments_list", :locals => {:pun => @pun} %>
        </div>

        <%= render "puns/showpartials/comment_do" %>
        
      </div>

    </div>

    <div class="right">

      <div class="fixer">

        <div class="pun-data">
          
          <div class="avatar">

            <%= link_to (image_tag @pun.user.avatar_url().to_s), user_path(@pun.user), :title => @pun.user.username %>
            
          </div>

          <div class="user-board">
            <div class="username">
              <%= link_to @pun.user.username, user_path(@pun.user) %>
            </div>

            <div class="userdata">
              <%= image_tag "icons/pun/localisation.png" %><%= @pun.user.country.name %> - <%= @pun.user.state.name %>
            </div>

            <div class="boardname">
              <%= @pun.slug %>
            </div>
          </div>


        </div>

        <div class="description">
          <%= @pun.description %>

          <div class="options">
            zpfizjef
          </div>
        </div> 

        <div class="other-board-puns">
          <% Pun.order('created_at DESC').where('user_id = ?', @pun.user.id).last(5).each do |pun| %>
            <%= link_to (image_tag pun.image_url().to_s), puns_path(pun) %>
          <% end %>
        </div>       

      </div>



    </div>


</div>


<div style="display: block; width: 1200px;">dzdzzd</div>


<p>
  <b>Price:</b>
  <%= @pun.price %>
</p>

<p>
  <b>Currency:</b>
  <%= @pun.currency_id %>
</p>


<p>
  <b>Original user:</b>
  <%= @pun.original_user_id %>
</p>

<p>
  <b>Board:</b>
  <%= @pun.board_id %>
</p>

<p>
  <b>Original board:</b>
  <%= @pun.original_board_id %>
</p>

<p>
  <b>Original punaise:</b>
  <%= @pun.original_punaise_id %>
</p>


<%= link_to 'Edit', edit_pun_path(@pun) %> |
<%= link_to 'Back', puns_path %>
