	<div id="header">
		<%= link_to (image_tag "logo.png"), root_path() %>

		<div class="menu">
			<ul>
				<li><%= link_to "Explorer", puns_path() %></li>
				<li><%= link_to "Blog", blogs_path() %></li>

				<% if user_signed_in? %>
				<li><%= link_to "+", "#new_pun_modal", :rel => "modal:open" %></li>
				<li><%= link_to (image_tag current_user.avatar_url(:headerthumb).to_s), user_path(current_user), :class => "avatar" %></li>
				<li><%= link_to "Se Déconnecter", logout_path() %></li>
				<% else %>
				<li><%= link_to "Se Connecter", login_path() %></li>
				<li><%= link_to "Nous Rejoindre", register_path() %></li>
				<% end %>

			</ul>
		</div>

	</div>
	<div id="announce">
		<%= image_tag 'icons/alert.png' %> Ceci est la Beta de Punaize.com, la plateforme est encore restreinte au testeurs.
	</div>